.header-options-container{
    background-color: #FFF028;
    display: flex;
    width: 100%;
    gap: 8px;
    align-items: center;
    padding: 10px 1% 10px 1%;

}

.header-options-container > div{
    display: inline-block;
    text-align: right;
    padding:0;
}

a{
    text-decoration: none !important;
    color: black !important;
}

.carrinho{
    width: 24px;
}

.sobre {
    margin-left: 3px;
    margin-right: 3px;
}

.logo-icon{
    width: 100%;
    object-fit: cover;
    height: 50px;
    z-index: 2;
}

.login, .registro{
    color: black !important;
    border: 1px solid black !important;
    background-color: rgba(255, 255, 255, 0) !important;
}

